<div class="style">
    <h1>Child Template</h1>
    <p class = "active">Fullname: {{nameData}}</p>
    <p class = "active">Enrolled: {{enrolledData}}</p>
    <p class = "active">Gender: {{genderData}}</p> 
    <button class = "active" (click)="onClickApprove()" >Approve</button>
    <button class = "active" (click)="onClickDecline()">Decline</button>
    <h3>List of Approved:</h3>
    <ul>
        <li *ngFor="let person of people">name: {{person.name}} status: {{person.status}} gender: {{person.gender}}</li>
    </ul>
</div>
