<div class="content" role="main">
  <!-- <p>Activity 1</p>
  <h2>Create an Angular Project</h2>
  <p>Activity 2</p>
  <div class="card">
    <app-manually></app-manually>
  </div>

  <div class="card">
    <app-through-cli></app-through-cli>
  </div>

  <div class="card2">
    <app-binding></app-binding>
  </div>
  <div class="card2">
    
    <app-parent></app-parent>
  </div>
  <div class="card2">
    <app-secondparent></app-secondparent>
  </div> -->
  <!-- <div class = "card2">
    <app-template-data-driven></app-template-data-driven>
  </div> -->
  <!-- <div class="card2">
    <app-template-driven></app-template-driven>
  </div> -->
  <div class = "card2">
    <app-data-driven></app-data-driven>
  </div>

</div>