<div class="style">
    <h1>Parent Template</h1>
    <label>Fullname </label><input class="active" type="text" [(ngModel)]="temporaryfdata" />
    <p></p>
    <label>Enrolled? </label><input class="active" type="checkbox" [(ngModel)]="temporaryedata" name="checkboxForEnrolled" >
    <p></p>
    <label>Gender: </label>
    <select [(ngModel)]="temporarygdata" class="active">
        <option  value="Female">Female</option>
        <option  value="Male">Male</option>
    </select>
    <p></p>
    <button class="active" (click)="onClick()">Submit</button>
    <p></p>
    <label *ngIf="notif">Notification: {{notif}}</label>
    <h3>List of Declined: </h3>
    <ul>
        <li *ngFor="let person of people2">name: {{person.name}} status: {{person.status}} gender: {{person.gender}}</li>
    </ul>
    <h3></h3>
    <hr/>
    <app-secondchild (notifEvent)="notif = $event" (decline2)="people2 = $event" [nameData]="fullnameData" [enrolledData]="enrolledData" [genderData]="genderData"></app-secondchild>
</div>

